<a href="https://colab.research.google.com/github/Jadhav0702Gauri/Accenture-Data-Analytics-and-Visualization-Job-Simulation/blob/main/Data_Analytics_and_Visualization_Accenture_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [10]:
reaction = pd.read_csv("C:\\Users\\dhanu\\Downloads\\Reactions (1).csv")
content = pd.read_csv("C:\\Users\\dhanu\\Downloads\\Content (1).csv")
reactiontype = pd.read_csv("C:\\Users\\dhanu\\Downloads\\ReactionTypes (1).csv")

In [12]:
content.sample(3)

,Unnamed: 0,Content ID,User ID,Type,Category,URL
819,819,451b228b-9d66-45a4-b6fa-46c502562b5f,4ce3f877-96ea-4a37-8107-1176126d9d97,video,healthy eating,https://socialbuzz.cdn.com/content/storage/451...
205,205,8b51c05c-a8a2-4a6c-b031-165fb7bac840,66663a0d-856f-487f-a2a2-258af21ab3e5,video,dogs,NaN
372,372,567ddaca-f9aa-4e53-b9b7-b745a1ac0c95,e8c9386c-8fbc-40cc-9587-ccb912ec5c10,video,culture,https://socialbuzz.cdn.com/content/storage/567...

In [14]:
content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

We don't need the `User ID` or `URL columns for our analysis, so let's drop those. Then let's check the values in the category column to make sure they make sense given our data.

In [17]:
content.drop(labels=['User ID','URL'],axis=1,inplace=True)

In [19]:
content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   Type        1000 non-null   object
 3   Category    1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [21]:
content['Category'].value_counts()

Category
technology           71
animals              67
travel               67
culture              63
science              63
fitness              61
food                 61
healthy eating       61
cooking              60
soccer               58
tennis               58
education            57
dogs                 56
studying             55
veganism             48
public speaking      48
Fitness               5
Animals               4
Science               4
"soccer"              3
"culture"             3
Soccer                3
"dogs"                2
Education             2
Studying              2
Travel                2
Food                  2
"veganism"            1
"public speaking"     1
Public Speaking       1
"technology"          1
"cooking"             1
Healthy Eating        1
"studying"            1
"food"                1
Culture               1
"tennis"              1
Technology            1
"animals"             1
Veganism              1
"science"             1
Name: count, dtype: int64

We need to clean up these categories by removing punctuation and capitalization

In [24]:
#strip quote mark and lowercase all values
content['Category'] = content['Category'].apply(lambda x:x.strip('"').lower())

In [26]:
#check if all categories are in lower case
content['Category'].value_counts()

Category
technology         73
animals            72
travel             69
science            68
culture            67
fitness            66
food               64
soccer             64
healthy eating     62
cooking            61
tennis             59
education          59
studying           58
dogs               58
public speaking    50
veganism           50
Name: count, dtype: int64

In [28]:
#rename content to content_type
content.rename(columns={'Type':'Content_Type'},inplace=True)
content['Content_Type'].value_counts()

Content_Type
photo    261
video    259
GIF      244
audio    236
Name: count, dtype: int64

In [30]:
reaction.sample(3)

,Unnamed: 0,Content ID,User ID,Type,Datetime
7281,7281,2363df47-ee8b-433d-bbfc-34d5ac57e2aa,c834ba1d-8a10-4984-aaf2-7c2eab207076,interested,2020-08-21 02:20:10
14078,14078,bceb7f2d-6afe-45fc-88b1-4d4c8f597cf8,NaN,worried,2021-01-11 19:15:49
12881,12881,b13bec8c-4469-4cc8-8650-7057eb95d3ee,NaN,disgust,2021-03-19 08:56:37

In [32]:
reaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25553 non-null  int64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB

Again, drop the User ID column. We also need to drop rows with missing values, and change the "Datetime" column to a datetime data type. Finally, we'll need to change the "Type" column name like we did for the Content table.

In [35]:
# drop user ID column
reaction.drop(labels = ['User ID'],axis=1,inplace=True)

In [37]:
# convert dates to datetime
reaction['Datetime'] = pd.to_datetime(reaction['Datetime'])

In [39]:
#drop rows with missing values
reaction.dropna(inplace=True)

In [41]:
#rename column
reaction.rename(columns={"Type":'Reaction_Type'},inplace=True)

In [43]:
reaction.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24573 entries, 1 to 25552
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     24573 non-null  int64
 1   Content ID     24573 non-null  object
 2   Reaction_Type  24573 non-null  object
 3   Datetime       24573 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 959.9+ KB

In [45]:
reaction['Datetime'].value_counts()

Datetime
2020-11-01 00:05:07    2
2020-08-10 18:01:52    2
2020-07-23 09:21:02    2
2021-01-16 20:13:52    2
2020-09-10 06:59:59    2
                      ..
2021-02-20 04:38:33    1
2021-05-09 01:04:17    1
2021-06-05 16:58:18    1
2020-10-07 19:58:31    1
2021-01-04 04:55:11    1
Name: count, Length: 24562, dtype: int64

In [47]:
reaction['Datetime']

1       2020-11-07 09:43:50
2       2021-06-17 12:22:51
3       2021-04-18 05:13:58
4       2021-01-06 19:13:01
5       2020-08-23 12:25:58
                ...
25548   2020-06-27 09:46:48
25549   2021-02-16 17:17:02
25550   2020-09-12 03:54:58
25551   2020-11-04 20:08:31
25552   2021-01-04 04:55:11
Name: Datetime, Length: 24573, dtype: datetime64[ns]

In [49]:
del content["Unnamed: 0"]
del reaction["Unnamed: 0"]
del reactiontype["Unnamed: 0"]

In [51]:
reactiontype.sample(3)

         Type Sentiment  Score
4  interested  positive     30
7  super love  positive     75
3        hate  negative      5

In [53]:
reactiontype.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Type       16 non-null     object
 1   Sentiment  16 non-null     object
 2   Score      16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 516.0+ bytes

In [55]:
#rename type column
reactiontype.rename(columns={'Type':'Reaction_Type'},inplace=True)
reactiontype.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Reaction_Type  16 non-null     object
 1   Sentiment      16 non-null     object
 2   Score          16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 516.0+ bytes

In [57]:
reactiontype.value_counts()

Reaction_Type  Sentiment  Score
adore          positive   72       1
cherish        positive   70       1
disgust        negative   0        1
dislike        negative   10       1
hate           negative   5        1
heart          positive   60       1
indifferent    neutral    20       1
interested     positive   30       1
intrigued      positive   45       1
like           positive   50       1
love           positive   65       1
peeking        neutral    35       1
scared         negative   15       1
super love     positive   75       1
want           positive   70       1
worried        negative   12       1
Name: count, dtype: int64

It looks like our data is clean, based on the client's specifications (remove rows with missing values, drop unnecessary colunmns, and ensure data types match the column values).

#**Data Modelling**

#Creating a joined table for analysis

In [62]:
#To merge the data sets, we are going to have to rename either one of the colums from reactions or reactionsType to make it easy to merge
# renaming the 'Reaction Type' column to 'Type'
reaction = reaction.rename(columns={'Reaction Type': 'Type'})
reaction.head(5)

                             Content ID Reaction_Type            Datetime
1  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust 2020-11-07 09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike 2021-06-17 12:22:51
3  97522e57-d9ab-4bd6-97bf-c24d952602d2        scared 2021-04-18 05:13:58
4  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust 2021-01-06 19:13:01
5  97522e57-d9ab-4bd6-97bf-c24d952602d2    interested 2020-08-23 12:25:58

In [64]:
# Merging content_data and reactions_data on Content ID
merged_data = pd.merge(content, reaction, on='Content ID')

# merge merged_data and reaction_types_data on Type
final_data = pd.merge(merged_data, reactiontype, on='Reaction_Type')

# display the final merged data set
final_data.head()

,Content ID,Content_Type,Category,Reaction_Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,disgust,2020-11-07 09:43:50,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,dislike,2021-06-17 12:22:51,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,scared,2021-04-18 05:13:58,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,disgust,2021-01-06 19:13:01,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,interested,2020-08-23 12:25:58,positive,30

In [66]:
final_data.shape

(24573, 7)

In [68]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24573 entries, 0 to 24572
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     24573 non-null  object
 1   Content_Type   24573 non-null  object
 2   Category       24573 non-null  object
 3   Reaction_Type  24573 non-null  object
 4   Datetime       24573 non-null  datetime64[ns]
 5   Sentiment      24573 non-null  object
 6   Score          24573 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 1.3+ MB

In [70]:
final_data.describe()

                            Datetime         Score
count                          24573  24573.000000
mean   2020-12-17 06:35:24.454278912     39.622553
min              2020-06-18 08:07:22      0.000000
25%              2020-09-16 18:51:38     15.000000
50%              2020-12-17 06:08:30     35.000000
75%              2021-03-17 12:05:06     65.000000
max              2021-06-18 08:30:29     75.000000
std                              NaN     26.043011

#**Exploratory Data Analysis**

In [73]:
print(final_data['Content_Type'].unique())
print(final_data['Sentiment'].unique())
print(final_data['Category'].unique())
print(final_data['Reaction_Type'].unique())

['photo' 'video' 'GIF' 'audio']
['negative' 'positive' 'neutral']
['studying' 'healthy eating' 'technology' 'food' 'cooking' 'dogs' 'soccer'
 'public speaking' 'science' 'tennis' 'travel' 'fitness' 'education'
 'veganism' 'animals' 'culture']
['disgust' 'dislike' 'scared' 'interested' 'peeking' 'cherish' 'hate'
 'love' 'indifferent' 'super love' 'intrigued' 'worried' 'like' 'heart'
 'want' 'adore']

In [75]:
#Which content type received the most reactions?
final_data['Content_Type'].value_counts()

Content_Type
photo    6589
video    6245
GIF      6079
audio    5660
Name: count, dtype: int64

#Top 5 Category Analysis

In [78]:
final_data['Category'].value_counts()

Category
animals            1897
science            1796
healthy eating     1717
food               1699
technology         1698
culture            1676
cooking            1664
travel             1647
soccer             1457
education          1433
fitness            1395
studying           1363
dogs               1338
tennis             1328
veganism           1248
public speaking    1217
Name: count, dtype: int64

In [80]:
#Top 5 Categories
category_count = final_data['Category'].value_counts().nlargest(5)
print(category_count)

Category
animals           1897
science           1796
healthy eating    1717
food              1699
technology        1698
Name: count, dtype: int64

- The measure of popularity provided to us by the client is the "Score" column. To find the highest aggregate popularity for each category, we simply have to sum this value by category

In [90]:
# Dropping the datetime column before summing
top_five = final_data.drop(columns='Date').groupby('Category').sum().sort_values(by='Score', ascending=False)

# Display the top 5 rows
top_five.head(5)

KeyError: "['Date'] not found in axis"

In [ ]:
final_data = top_five.head(5)

plt.figure(figsize=(10, 6))
ax = sb.barplot(x=final_data.index, y='Score', data=final_data)

# Adding annotations
for p in ax.patches:
    ax.annotate(f'{p.get_height():.2f}', (p.get_x() + p.get_width() / 2., p.get_height()),
                ha='center', va='center', xytext=(0, 10), textcoords='offset points')

plt.title('Top 5 Categories by "Popularity" score')
plt.xlabel('Categories')
plt.ylabel('Total Score')
plt.show()

### From the above chart the top 5 category `animal`,`healthy eating`,`technology category` ,`science` and `cooking`. The top Category is the **animal**.

In [ ]:
data = {'Category': ['animals', 'science', 'healthy eating', 'technology', 'food'],
        'Score': [74965, 71168, 69339, 68738, 66676]}
final_data = pd.DataFrame(data)
final_data_sorted = final_data.sort_values(by='Score', ascending=False)

top_five_categories = final_data_sorted.head(5)

final_data = top_five_categories.copy()

final_data.loc[:, 'Percentage Share'] = (final_data['Score'] / final_data['Score'].sum()) * 100

plt.figure(figsize=(8, 8))
plt.pie(final_data['Percentage Share'], labels=final_data['Category'], autopct='%1.1f%%', startangle=90, counterclock=False)

plt.title('Percentage Share of Scores for Top 5 Categories')
plt.show()